<div class="uk-container">
    <p *ngIf="loadingArtist, else loaded">Carregando dados do artista...</p>
    <ng-template #loaded>
        <div *ngIf="artist, else unknown" class="">
            <div>
                <h2 class="uk-text-center">{{artist.name}}</h2>
                <p>Biografia: {{artist.biography}}</p>
            </div>

            <div>
                <h2 class="uk-text-center">Álbuns</h2>
                <p *ngIf="loadingArtist">Carregando lista de álbuns do artista...</p>
                <ul>
                    <li *ngFor="let album of albuns">
                        <div>
                            <a routerLink="./albuns/{{album.id}}">
                                <h6>{{album.name}}</h6>
                                <img *ngIf="album.urlImg" alt="capa do album" src="{{album.urlImg}}" />
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <ng-template #unknown>
            <div>
              <h3 class="uk-text-center">Artista não encontrado!</h3>
            </div>
        </ng-template>
    </ng-template>
</div>
